/* ================================================ 768 ======================================= */

@media only screen 
and (max-width : 900px) {



	/* Blog Header */

	/*.logo {
	    display: block;
	    float: left;
	    height: 96px;
	    left: 80px;
	    margin: 20px auto 0;
	    position: relative;
	    text-align: center;
	    top: 30px;
	}*/



}



/* ================================================ MAX WIDTH 640 ======================================= */

@media only screen 
and (max-width : 640px) {



	/* Blog Header */

	.topsect {
	    height: auto;
	    min-height: 300px;
	    overflow: hidden;
	    position: relative;
	}

	.logo {
	    display: block;
	    float: none;
	    left: 0;
	    margin: 20px auto 0;
	    position: relative;
	    right: 0;
	    top: 0;
	}

	.logo > img {
	    width: 90px;
	}

	.logo > div {
		font-size: 11px;
	}

	.rightsort {
	    clear: both;
	    position: relative;
	    right: auto;
	    top: 0;
	}
	
	.topsect.open-body {
		min-height: 300px !important;
	}
	
	.logo.open-logo {
		top: 0;
	}

	.rightsort form {
	    clear: both;
	    float: none;
	    margin: 0 auto 15px;
	    opacity: 1;
	    padding-right: 15px;
	    position: absolute;
	    visibility: visible;
	    width: 200px;
	}


	.rightsort form input {
	    opacity: 1;
	    visibility: visible;
	}

	.rightsort .sosocial {
	    clear: both;
	    float: none;
	    margin: 0 auto;
	    padding: 1px 0 0;
	    width: 175px;
	}

	.reservations {
	    margin: 10px auto 0;
	    padding-left: 20px;
	    position: relative;
	    right: 0;
	    top: 20px;
	}



}



/* ================================================  MOBILES BELOW 399 ======================================= */


@media only screen 
and (max-width : 399px) 
{	



	/* Header */

	.reservationform select {
		padding: 5px 7px 5px 8px;
	}

	.reservationform span.shortercal {
		height: 39px;
	}

	.reservationform .button {
		margin: 6px 14px 0 0;
	}



}




/* ================================================  MOBILES BELOW 480 to 400 ======================================= */


@media only screen 
and (min-width : 400px) 
and (max-width : 479px) 
{	








}



/* ================================================  MOBILES BELOW 480 to 640 ======================================= */


@media only screen 
and (min-width : 480px) 
and (max-width : 639px) 
{	








				
}



/* ================================================  LARGE MOBILE DEVICES AND SMALL TABLETS BELOW 799  ======================================= */


@media only screen 
and (min-width : 640px) 
and (max-width : 799px) 
{	
	



}
/* ================================================  SLIGHTLY SMALLER RESOLUTIONS, BUT NOT QUITE IPHONE ======================================= */


@media only screen 
and (min-width : 800px) 
and (max-width : 854px) 
{	
	

}





/* ================================================  LARGE PHONE SCREENS SMALLER RESOLUTIONS  ======================================= */


@media only screen 
and (min-width : 855px) 
and (max-width : 960px) 
{	

	




}



@media only screen 
and (max-width : 855px) 
{	

	.leftsort { display: none; }
	.rightcolumn { display: none; }
	.leftcolumn { width: 100%; }
	.category-container { display: none !important; }
	
	.open-body {
		min-height: 200px !important;
	}
	
	.open-logo {
		top: 60px;
	}

}






/* ================================================  IPADS AT LANDSCAPE WIDTH 1024  ======================================= */


@media only screen 
and (min-width : 961px) 
and (max-width : 1024px) 
{	





		
}


/* ================================================  FIRST STAGE LARGER THAN 1024PX UP TO LARGER BROWSERS  ======================================= */



@media only screen 
and (min-width : 1025px) 
and (max-width : 1223px) 
{		
		
	
	
	
	
	
	
}



/* #Narrow Screen, Below 1400px (Portrait)
================================================== */

    /* Note: Design for a width of 768px */



@media only screen 
and (min-width : 1224px) 
and (max-width : 1300px) 
{








}
	

@media only screen 
and (min-width : 1224px) 
and (max-width : 1399px) 
{

	
	
	
	
	
	
                
}
	
	
	


@media only screen and (min-width: 1400px) and (max-width: 1450px) {
		
		






}


@media only screen and (min-width: 1451px) {
 
 
 
 
 
                



} 




