# ignore Mac OS X Desktop Service Store
.DS_Store
# ignore debug.log
wp-content/debug.log
# ignore local-config.php
local-config.php
Thumbs.db
# ignore wp-uploads
wp-content/uploads
.htaccess

# ignore wordpress themes
wp-content/wp-content/themes/classic/
wp-content/wp-content/themes/twentyfourteen/
wp-content/wp-content/themes/twentythirteen/
wp-content/wp-content/themes/twentytwelve/

# ignore other themes
wp-content/wp-content/themes/default/

# Custom individual ignores
wp-content/plugins/wp-google-maps/1markers.xml
tmp/
blogs/
.DS_Store
test/
*timthumb.txt
cache/
.htaccess