/* ================================================  MAX WIDTH 3000 ======================================= */

@media only screen
and (max-width : 3000px) {


	.blogposts li {
		width: 33.3333%;
	}



}



/* ================================================  MAX WIDTH 1440px ======================================= */

@media only screen
and (max-width : 1440px) {



}



/* ================================================  MAX WIDTH 1439px ======================================= */

@media only screen
and (max-width : 1439px) {



	/* Page - Time Square */

	.page-content .listed-content:nth-child(3n+1) {
	    clear: none;
	}

	.page-content .listed-content:nth-child(2n+1) {
	    clear: left;
	}



}



/* ================================================ 0 - 1275px ======================================= */

@media only screen
and (max-width : 1275px) {



	/* FONT SIZES - Home & General */

	h1, h2.h1 {
		font-size: 25px;
		line-height: 1.2;
	}

	h2 {
		font-size: 20px;
		line-height: 1.2;
	}

	h3 {
		font-size: 16px;
		line-height: 1.2;
	}

	h4 {
		font-size: 17px;
	}

	h5 {
	}

	p {
		font-size: 13px;
	}

	.overlay h1, .overlay h2.h1, .fourth-level .suboverlay h2.h1 {
	    font-size: 22px;
	    line-height: 1.5;
	}

	.fourth-level .suboverlay h2.h1 {
	    line-height: 1.2;
	    margin-bottom: 10px;
	}

	.overlay h2 {
	    font-size: 25px;
	    line-height: 1.1;
	}

	.overlay a {
	    font-size: 11px;
	}

	.textbox h3, .textbox-1 h3 {
	    line-height: 1.1;
	}

	.textbox h4, .textbox-1 h4 {
	    font-size: 17px;
	}

	.textbox p, .textbox-1 p {
	    font-size: 12px;
	}

	.littleover > h1, .littleover > h2.h1 {
	    font-size: 18px;
	    line-height: 1.1;
	}

	.littleover > h2 {
	    line-height: 1.1;
	}

	.littleover p {
	    line-height: 1.2;
	}

	.banner .header-contact {
		display: none;
	}
	.banner .logo { right: auto; left: 40px; top: 26px; display: block; width: 175px; }

	/* GENERAL - Generic Page Settings */

	.button {
	    font-size: 14px;
	    padding: 8px 16px;
	}

	.page-content > h1, .page-content > h2.h1 {
	    font-size: 30px;
	}

	.wideover {
		padding: 15px;
	}

	.text-content.left > h1, .text-content.left > h2.h1 {
	    font-size: 33px;
	    line-height: 1;
	    margin-bottom: 20px;
	}

	.text-content.left > p {
	    font-size: 13px;
	}

	.text-content.left {
	    width: 67%;
	}

	.extra-details.right {
	    width: 27%;
	}

	.page-intro > h1, .page-intro > h2.h1 {
	    font-size: 30px;
	    margin-bottom: 10px;
	}

	.page-intro h4.sub-line {
	    font-size: 18px;
	}



	/* HOMEPAGE */

	.owl-item .fullspan {
		height: 440px;
	}



	/* Side Navigation */

	.navigate {
	    width: 250px;
	}

	.navigate .supernav li ul.dropbox {
	    width: 165px;
	}

	.navigate.slipnot {
	    width: 85px;
	}

	.slipnot .supernav li ul.dropbox li.drop-intro {
	    padding: 25px 7% 15px;
	}

	.navigate .supernav li.subinside:hover li.drop-intro p {
	    width: 100%;
	}

	.behindnavigate {
	    left: 85px;
	    width: 165px;
	}



	/* Banner Area */


	.topnav {
	    max-width: 356px;
	    width: 38.6%;
	}

	.topnav li a {
		padding: 20px 10px;
	}



	/* Content area */

	.contentarea {
		margin-left: 250px;
	}

	.shorter {
		height: 270px;
	}

	.bigover h1, .bigover h2.h1 {
	    font-size: 45px;
	    line-height: 1.1;
	    padding: 10px;
	}



	/* Footer */

	.tier-two ul li.widest {
		width: 30%;
	}

	li.widest > span {
	    clear: both;
	    display: block;
	    margin-left: 0;
	}

	.tier-two ul li {
		width: 30%;
	}

	.tier-two li a {
		font-size: 13px;
	}

	.tier-two li span {
	    font-size: 12px;
	}

	.footer .tier-one ul li a {
	    font-size: 10px;
	    font-weight: normal;
	}

	.footer .tier-two {
	    height: auto;
	    overflow: auto;
	}



	/* PAGE - General settings */

	.page .suboverlay {
	    top: 15%;
	}

	.page .suboverlay p {
	    font-size: 13px;
	}



	/* SINGLE - General settings */



	/* PAGE - Amenities */

	.page .suboverlay h1, .page .suboverlay h2.h1 {
	    margin-bottom: 7px;
	}



	/* PAGE - Group Rates */

	.rate-box {
		top: 20%;
	}

	.rate-box > h1 {
	    font-size: 28px;
	}

	.group-details > ul {
		padding-bottom: 0;
	}

	.group-details li {
	    margin: 0 12px 30px;
	}

	.group-details {
	    margin-bottom: 0;
	}

	.rate-box h4 {
	    font-size: 14px;
	    margin-top: 20px;
	}



	/* PAGE - Events */

	.page.events .suboverlay h1 {
	    font-size: 23px;
	    line-height: 1.2;
	}

	.slide-bottom-title > h1 {
	    line-height: 1.5;
	}

	.event-small-details span {
	    font-size: 10px;
	}

	.the-events li:first-child {
	    font-size: 16px;
	}

	.the-events h2 {
	    font-size: 18px;
	}

	.the-events span {
	    line-height: 2;
	}



	/* PAGE - Deals */

	.deal-wrapper > h1 {
	    font-size: 19px;
	    line-height: 1.1;
	    margin-bottom: 20px;
	}

	.deal {
	    min-height: 692px;
	}



	/* PAGE - Concierge */

	.concierge-box .left {
	    width: 370px;
	}

	.concierge-box .wideover.overlay h1 {
	    font-size: 18px;
	}

	.page.concierge .page-content > h1, .page.concierge .page-content .concierge-top-wrapper h1 {
	    font-size: 30px;
	    margin-bottom: 15px;
	}

	.page.concierge .page-content > h3, .page.concierge .page-content .concierge-top-wrapper h3 {
	    font-size: 19px;
	    line-height: 1.2;
	    margin-bottom: 15px;
	}

	.page.concierge .page-content div p span {
	    font-size: 17px;
	    margin-right: 25px;
	}

	.concierge-box .right {
	    overflow: hidden;
	    padding: 10px;
	    width: 40%;
	}

	.concierge-box.box-style-4 .right {
	    padding: 12px 37px;
	}

	.concierge-box.box-style-4 .right p {
	    font-size: 12px;
	    margin-bottom: 2px;
	}

	.box-style-4 a {
	    font-size: 14px;
	}



	/* Single - Amenity */

	.amenity-features li {
	    font-size: 12px;
	}

	.amenity-featured-images.right {
	    float: none;
	    overflow: hidden;
	    width: auto;
	}

	.amenity-contact > div {
	    width: 190px;
	}



	/* SINGLE - Deal */

	.deal-more-detail ul li {
	    padding-right: 10px;
	    width: 47%;
	}

	.deal-more-detail ul li li {
	    font-size: 13px;
	}

	.deal {
		min-height: 750px;
	}

	.deal-wrapper {
		height: 300px;
	}



	/* SINGLE - Eat & Drink */

	.photo-list li {
	    margin-right: 0;
	}

	.main-page-content.left > h1 {
	    margin-bottom: 15px;
	}

	.menu-area.right h3 {
	    font-size: 20px;
	    margin-bottom: 15px;
	}

	.menu-this-month li {
	    font-size: 13px;
	    line-height: 1.7;
	    margin-bottom: 5px;
	}

		.menu-area.right ul li a {
	    font-size: 14px;
	    line-height: 1.5;
	}



	/* SINGLE - Master Suite */

	.room-details li.room-detail {
	    width: 30.8%;
	    margin-right: 0;
	}

	.room-detail > img {
	    max-height: 219px;
	    min-height: 219px;
	    width: 100%;
	}



	/* PAGE - Gallery */

	.gallery .flexslider {
	    height: 580px;
	}

	.gallery .flexslider .slides > li {
	    height: 550px;
	}



	/* SINGLE - Explore */

	.page.time-square .textbox {
		width: 80%;
	}

	.page.time-square .textbox.openbox-up {
	    max-height: 80%;
	    min-height: 80%;
	}

	.time-square .textbox p, .time-square .textbox-1 p {
	    line-height: 1.7;
	}



}

/* ================================================ 641 - 1260px ======================================= */

@media only screen
and (min-width : 641px)
and (max-width : 1260px) {



	.home-intro {
	  margin-left: 250px;
	  width: auto;
	  z-index: 9999;
	}

	.contentarea {
		margin-left: 250px;
		z-index: 9999;
	}

	.contentarea .home-intro {
		margin-left: 0;
	}

}


/* ================================================ 1024 ======================================= */

@media only screen
and (max-width : 1024px) {



	/* Video */

	#div_demo.mobile {
		display: block !important;
	}

	#div_demo {
		display: none;
	}



	/* HOMEPAGE */

	.bigover h1, .bigover h2.h1 {
		font-size: 40px;
	}

	/* deals page */

	.deal-wrapper {
		height: 300px;
	}

	.deal {
		min-height: 780px;
	}


	/* save the children */

	.save-the-children .button {
    position: relative;
    float: left;
    left: 7%;
    top: -15px;
	}

	p.save {
    width: 95%;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
	}

}



/* ================================================ 900 ======================================= */

@media only screen and (max-width : 900px) {

	/* Header */

	.banner .logo {
		top: 14px;
	}

	.banner p a:before {
	    content: "- ";
	}

	.banner p a {
		margin-left: 0;
		display: none;
	}

	.banner p {
	    font-size: 11px;
	    line-height: 1;
	    padding: 5px 0;
	    width: 100%;
	}

	.banner p.contacto {
	    line-height: 3.4;
	}

	.contacto span {
	    font-size: 13px;
	}

	.topnav {
	    max-width: 356px;
	    top: 54px;
	    width: 50%;
	}

	.fixed {
	    position: fixed;
	    top: 0;
	}



	/* Footer */

	.tier-one {
	    padding: 20px;
	    width: auto;
	    height: auto;
	}

	.tier-one ul {
	    display: block;
	    overflow: auto;
	    table-layout: fixed;
	    text-align: center;
	    width: auto;
	}

	.tier-one ul li {
	    display: block;
	    float: left;
	    list-style: none outside none;
	    margin-right: 10px;
	    text-align: left;
	}

	.tier-two {
		padding: 10px 0;
	}

	.tier-two ul {
	    text-align: center;
	}

	.tier-two ul li {
	    display: inline-block;
	    float: none;
	    text-align: center;
	    width: 100%;
	    padding: 0;
	}

	.tier-two ul li.widest {
	    width: 100%;
	}



	/* PAGE - General Settings */

	.page .third-level {
		height: auto;
	}

	.fourth-level {
		margin: 0 0 12px;
	}

	#maparea {
	    width: 100% !important;
	}




	/* Homepage content */

	.video-play i {
		top: 75%;
	}

	.leftside, .rightside {
		width: 100%;
	}

	.third-level {
	    height: auto;
	    overflow: auto;
	}

	.third-level .picone {
		margin-bottom: 0;
	}

	.third-level .leftside, .third-level .rightside {
	    clear: both;
	    display: block;
	    float: none;
	    height: 400px;
	    margin-bottom: 10px;
	    overflow: auto;
	    position: relative;
	    width: 100%;
	    overflow: auto;
	}

	.fourth-level {
		clear: both;
	}

	.shorter {
	    height: 310px;
	    margin-bottom: 10px;
	    overflow: hidden;
	}

	.blogposts li {
		width: 100%;
	}



	/* PAGE - Eat & Drink */

	.page .fullvertical .third-level {
	    height: auto;
	    overflow: hidden;
	}

	.page .fullvertical .textbox, .page .fullvertical .textbox-1 {
		left: 40%;
		top: 25%;
	    width: 60%;
	}

	.eat-drink .innerbox .fa {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	}

	.page .fullvertical .rightside, .page .fullvertical .leftside {
		width: 100%;
		height: 1024px;
	}



	/* PAGE - Concierge */

	.page.concierge .page-content {
	    padding: 20px 0;
	}

	.concierge-box .left {
	    margin-left: 0;
	    width: 300px;
	}

	.concierge-box .wideover.overlay h1 {
	    font-size: 15px;
	}

	.concierge-box .right {
	    padding: 5% 3.7% 3.7%;
	    width: 170px;
	}

	.concierge-box .right p {
	    font-size: 11px;
	    line-height: 1.5;
	}

	.concierge-box.box-style-4 .right {
	    padding: 12px 20px;
	}

	.concierge-box.box-style-4 .right p {
	    margin-bottom: 0;
	}

	.concierge-top-wrapper {
	    padding: 0 20px;
	}

	.concierge-box .right a {
	    font-size: 12px;
	}



	/* PAGE - Contact */

	.page .main-page-content.inverted-location.left {
	    margin-bottom: 20px;
	    width: 100%;
	}

	.maparea.left {
	    height: 200px;
	}

	.text-content.right {
	    width: 100%;
	}



	/* PAGE - Deals */

	.deal-wrapper > h1 {
	    font-size: 19px;
	}

		.deal-wrapper {
	    padding: 20px 30px 30px;
	}

	.deal-wrapper {
		height: 420px;
	}

	.deal {
		min-height: 815px;
	}


	/* PAGE - Events */

	.the-events > ul {
	    width: 40%;
	    float: left;
	}



	/* SINGLE - Event */

	.page .main-page-content.left {
	    width: 100%;
	}

	.maparea.right {
	    width: 45%;
	    max-height: 400px;
	    top: 77px;
	}

	.extra-details.right, .text-content.left {
	    float: none;
	    padding-top: 0;
	    width: 100%;
	}

	.right.social-tickets {
	    clear: both;
	    float: right;
	    position: absolute;
	    right: 0;
	    top: 20px;
	    width: 45%;
	    display: block;
	}

	.extra-details .social-media-details, .extra-details .button-details {
		display: none;
	}

	.extra-detail.social-media-details.left, .extra-detail.button-details.left {
	    clear: none;
	    display: block;
	    height: auto;
	    width: auto;
	    margin-top: 0;
	}

	.extra-detail.button-details.left {
		margin-right: 30px;
	}



	/* SINGLE - Amenity */

	.amenity-featured-images.right {
		/*display: none;*/
		margin-bottom: 20px;
	}

	.amenity .main-page-content.left {
	    width: 88%;
	}



	/* PAGE - Gallery */

	.gallery .flexslider, .slide-image {
	    height: 390px;
	}

	.gallery .flexslider .slides > li {
	    height: 360px;
	}

	.flex-direction-nav {
	    margin-top: -40% !important;
	    position: relative;
	}



	/* SINGLE - Room */

	.room-more-details {
		margin-top: 10px;
	}

	.room-detail > img {
	    max-height: 159px;
	    min-height: 159px;
	    width: 100%;
	}

	.room-details li.room-detail {
	    float: none;
	    margin-bottom: 20px;
	    margin-right: 0;
	    width: 100%;
	}

	.rooms-book-now.slide-booking .left {
		display: none;
	}

	.room-details-content .detail-features ul li {
	    background-position: 6px center !important;
	    background-size: 15px auto;
	}

	.rooms-book-now.slide-booking {
	    height: 70px;
	    max-height: 70px;
	}

	.rooms-book-now.slide-booking .right a {
	    line-height: 70px;
	}



	/* SINGLE - Explore */

	.blogposters li {
		width: 50%;
	}

	#maparea {
	    height: 250px;
	    top: 0;
	}



	/* FLEXSLIDER */

	.flex-direction-nav a::before {
		font-size: 35px;
	}

	/* save the children */

	.save-the-children .button {
    position: relative;
    float: left;
    left: 7%;
    top: -15px;
	}

	p.save {
    width: 95%;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
	}



}

/* ================================================ 840 ======================================= */

@media only screen
and (max-width : 840px) {

	.deal {
		min-height: 770px;
	}

	.deal-wrapper {
		height: 380px;
	}

}


/* ================================================ 770 ======================================= */

@media only screen
and (max-width : 770px) {

	.deal {
		min-height: 955px;
	}

	.deal-wrapper {
		height: 555px;
	}

}

/* ================================================ MAX WIDTH 640 ======================================= */

@media only screen
and (max-width : 640px) {



	/* Navigation */

	/*.navigate {
	    position: relative;
	    width: 100%;
	}
	*/
	.behindnavigate,
	.banner,
	.navigate {
		display: none;
	}

	.mobile-menu .banner p.contacto a {
		display: inline !important;
	}

	.footer .navigate.mobile {
	    height: auto;
	}

	.navigate.mobile {
	    display: block;
	    height: 155px;
	    position: relative;
	    width: 100%;
	}

	nav#menu.mobile {
		display: block;
	}

	.navigate.mobile .logobox {
	    float: left;
	    min-height: 101px;
	    width: 30%;
	    padding-top: 40px;
	}

	.mobile-menu.right {
	    background: none repeat scroll 0 0 #222222;
	    float: right;
	    overflow: visible;
	    width: 70%;
	}

	.mobile-menu-section {
		overflow: auto;
		padding: 10px;
	}

	.navigate.mobile .finished {
	    clear: both;
	    min-height: 0;
	}

	.topnav {
		display: none;
	}

	.navigate.mobile .topnav {
	    display: block;
	    width: 100%;
	}

	.navigate.mobile .languages {
	    background-image: none;
	    background-size: 70% auto;
	    color: #FFFFFF;
	    display: block;
	    float: left;
	    font-family: gothambook;
	    font-size: 14px;
	    line-height: 1.9;
	    margin: 0 0 0 10px;
	    padding-left: 13px;
	    width: auto;
	}

	.navigate.mobile .languages p {
		font-size: 13px;
		color: #fff;
	}

	.navigate.mobile .logobox .languages {
		display: none;
	}

	.navigate.mobile .mmenu-icon {
	    border-right: 1px solid #666666;
	    color: #FFFFFF;
	    float: left;
	    font-size: 20px;
	    padding-right: 15px;
	}

	.navigate.mobile .banner {
		display: block;
	    padding: 10px 0;
	}

	.navigate.mobile .banner p.contacto {
	    font-family: gothamlight;
	    font-size: 18px;
	    font-weight: normal;
	    padding-right: 0;
	    text-align: center;
	    width: 100%;
	    line-height: 1;
	    padding: 5.8px 0;
	    float: none;
	}

	.navigate.mobile .banner p.contacto span {
	    color: #fff;
	    font-size: 18px;
	    font-weight: bold;
	    margin-left: 5px;
	}

	.navigate.mobile .topnav {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	    display: block;
	    max-width: 100%;
	    overflow: visible;
	    position: relative;
	    top: auto;
	    width: 100%;
	}

	.navigate.mobile .topnav > ul {
	    height: 53px;
	    padding-bottom: 0;
	}

	.navigate.mobile .topnav li:first-child, .navigate.mobile .topnav li {
	    width: 33.1882%;
	    border-right: 1px solid #666;
	    line-height: 1.1;
	}

	.navigate.mobile .topnav li:last-child {
		border-right: 0;
	}

	.navigate.mobile .topnav li:last-child a.booking-link {
	    padding-bottom: 12px;
	    padding-top: 19px;
	}

	.navigate.mobile .topnav li a.booking-link {
	    font-size: 14px;
	    padding: 22px 0;
	}

	.navigate.mobile .topnav a i:after, .navigate.mobile .topnav a i:before {
	    display: none;
	}

	.finished.mobile .events {
	    overflow: auto;
	}

	.finished.mobile .events .left {
	    background-position: center 10%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 200px;
	    width: 60%;
	}

	.finished.mobile .events .right {
	    display: block;
	    float: none;
	    overflow: hidden;
	    padding: 20px 10px 0;
	    position: relative;
	    text-align: center;
	    width: auto;
	}

	.finished.mobile .right > h1 {
	    color: #FFFFFF;
	    font-weight: normal;
	    line-height: 1.1;
	}

	.finished.mobile .right > h3 {
	    color: #FA9C03;
	    font-family: gothamcondensedmedium;
	    font-size: 27px;
	    font-style: normal;
	    font-weight: normal;
	    letter-spacing: 1px;
	    text-transform: none;
	}

	.finished.mobile .right i {
	    background: none repeat scroll 0 0 #666666;
	    border-radius: 25px;
	    color: #000000;
	    font-size: 21px;
	    margin-top: 10px;
	    padding: 11px 15px;
	}
	.finished.mobile .right a:hover i {
	    background: none repeat scroll 0 0 #FFFFFF;
	    color: #444444;
	}


	/* MMenu */

	.mm-ismenu {
	    background: none repeat scroll 0 0 #222;
	}

	.mm-list p {
	    color: #FFFFFF;
	    font-size: 15px;
	    padding-bottom: 0;
	}



	/* HOMEPAGE */

	.third-level .leftside, .third-level .rightside {
		height: auto;
	}



	/* FOOTER */

	.footer {
	    margin-left: 0;
	}

	.tier-one ul {
	    text-align: center;
	}

	.tier-one ul li {
	    display: inline-block;
	    float: none;
	}

	.footer .navigate {
	    display: block;
	    position: relative;
	    width: 100%;
	    height: 100%;
	}

	.footer .supernav {
	    padding-bottom: 0;
	}

	.footer .navigate .supernav li {
	    text-align: center;
	}

	.footer .navigate .supernav li a {
	    display: inline-block;
	}

	.footer .navigate .supernav li span {
	    left: -70px;
	    position: relative;
	}

	.footer .navigate .supernav li p {
	    float: none;
	    left: 45%;
	    text-align: left;
	}

	.footer .navigate.mobile .socials {
	    height: auto;
	}
	.footer .navigate.mobile .socials:hover {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	}

	.socials > ul {
	    padding-bottom: 0;
	    text-align: center;
	}

	.footer .navigate.mobile .socials li {
	    border: 0 none;
	    display: inline-block;
	    font-size: 35px;
	    line-height: 1;
	    padding-right: 15px;
	    padding: 0;
	    width: auto;
	}
		.footer .navigate.mobile .socials li:hover {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		}

	.footer .navigate .supernav li a {
	    color: #FA9C03;
	    display: inline-block;
	}
		.footer .navigate .supernav li a:hover {
		    color: #FFFFFF;
		}




	/* Home */

	.contentarea {
	    margin-left: 0;
	}

	.banner {
	    margin-left: 0;
	}

	.home-intro {
		height: 340px;
	}

	.video-play {
		display: none;
	}

	/* Supposedly give no spacing to homepage - only uncomment if necessary */

	/*
	.home-intro,
	.picone,
	.leftside .guestrooms {
		margin-bottom: 0;
	}*/

	.littleover {
		width: 90%;
	}

	.blogposts li:hover .littleover {
	    width: 90%
	}


	.third-level {
	    height: auto;
	    overflow: auto;
	}

	.third-level .leftside, .third-level .rightside {
	    clear: both;
	    display: block;
	    float: none;
	    height: 400px;
	    margin-bottom: 10px;
	    overflow: auto;
	    position: relative;
	    width: 100%;
	}

	.fourth-level {
		margin: 0 0 12px;
	}



	/* PAGE - General Settings */

	.page .innerbox .fa {
	    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	}

	.page.time-square .textbox {
		width: 100%;
	}

	.page .third-level {
		width: auto;
	}

	#maparea {
		width: 100% !important;
		float: none;
	}



	/* PAGE - Time Square */

	.page.time-square .home-intro {
		border-bottom: 5px solid rgba(255, 255, 255, 0.5);
		margin-left: 0;
	}

	.page .maparea.right {
	    height: 300px;
	    margin-right: -30px;
	    margin-top: -30px;
	    position: relative;
	    right: auto;
	    width: 111%;
	}

	.page-content .listed-content {
	    float: left;
	    margin-bottom: 20px;
	    margin-right: 10px;
	    overflow: hidden;
	    width: 174px;
	    margin-bottom: 20px;
	}

	.listed-content:nth-child(6) {
	    clear: none;
	}

	.page-content .listed-content:nth-child(2n+1) {
	    clear: none;
	}

	.page-content .listed-content:nth-child(3) {
	    clear: left;
	}

	.page-content .listed-content:nth-child(4) {
	    clear: none;
	}

	.page-content .listed-content:nth-child(3n+1) {
	    clear: none;
	}



	/* Single - Explore */

	.extra-details.right div {
	    float: left;
	    width: 50%;
	}

	.page.time-square .textbox.openbox-up {
	    max-height: 90%;
	    min-height: 90%;
	}

	.time-square .textbox p, .time-square .textbox-1 p {
	    font-size: 11px;
	    line-height: 1.7;
	}



	/* PAGE - Group Rates */

	.rate-box {
	    top: 5%;
	}



	/* PAGE - Eat & Drink */

	.page .fullvertical .rightside, .page .fullvertical .leftside {
	    clear: none;
	}

	.page .fullvertical .rightside {
		float: 	right;
	}

	.page .fullvertical .leftside {
		float: left;
	}

	.page .fullvertical .suboverlay p {
	    font-size: 12px;
	}



	/* PAGE - Amenities */

	.amenities .third-level .rightside, .amenities .third-level .leftside {
	    height: 300px;
	}



	/* PAGE - Concierge */

	.page.concierge .page-content {
	    padding: 20px 0;
	}

	.concierge-box .left {
	    margin-left: 0;
	    width: 370px;
	}

	.concierge-box .wideover.overlay h1 {
	    font-size: 18px;
	}

	.concierge-box .right {
	    padding: 5% 3.7% 3.7%;
	    width: 220px;
	}

	.concierge-box.box-style-4 .right {
	    padding: 12px 20px;
	}

	.concierge-box.box-style-4 .right p {
	    margin-bottom: 2px;
	}

	.concierge-top-wrapper {
	    padding: 0 20px;
	}

	.concierge-box .right p {
	    font-size: 13px;
	}

	.concierge-box .right a {
	    font-size: 14px;
	}



	/* SINGLE - Rooms */

	.rooms .suboverlay h1 {
	    font-size: 20px;
	}

	.rooms .suboverlay h4 {
		font-size: 15px;
	}

	.room-details-content .detail-features ul li {
	    font-size: 12px;
	    line-height: 2;
	    padding-left: 40px;
	}

	.room-more-details {
	    margin-top: 0;
	}

	.room-details li.room-detail {
	    float: left;
	    margin-bottom: 20px;
	    margin-right: 0;
	    width: 33%;
	}

	.room-detail > img {
	    height: auto;
	    max-height: 199px;
	    min-height: 199px;
	    width: 100%;
	}



	/* PAGE - Events */

	.the-events > ul {
	    margin-right: 30px;
	    width: 27%;
	    float: none;
	}

	.the-events h2 {
	    font-size: 16px;
	}

	.the-events span {
	    font-size: 13px;
	    line-height: 1.7;
	}

	.event-name {
	    font-size: 13px;
	}

	.the-events span {
	    font-size: 12px;
	    line-height: 1.7;
	}

	.the-events .event-more-details {
	    clear: both;
	    float: left;
	}



	/* PAGE - Contact */

	.contact .text-content.right, .page.contact .main-page-content.inverted-location.left {
	    width: 48%;
	}



	/* PAGE - Gallery */

	.gallery .flexslider {
	    height: 390px;
	}

	.gallery .flexslider .slides > li {
	    height: 360px;
	}



	/* PAGE - Deals */

	.deal {
	    min-height: 632px;
	}

	.deal-wrapper {
		height: 245px;
		padding: 19px 15px 30px;
	}





}



/* ================================================ MAX WIDTH 480 ======================================= */

@media only screen
and (max-width : 480px) {



	.slide-image {
		height: 400px;
	}
	/* Header */

	.footer_ads {
     width:100%;
	}


	.navigate.mobile {
		height: auto;
		overflow: hidden !important;
	}

	.navigate.mobile .logobox {
	    padding-top: 45px;
	}

	.logobox img {
	    margin-left: 0;
	}

	.navigate.mobile .banner {
	    padding: 13.8px 0;
	}

	.navigate.mobile .topnav li a.booking-link {
	    font-size: 13px;
	    line-height: 1;
	}

	.navigate.mobile .topnav li:first-child, .navigate.mobile .topnav li {
	    width: 29%;
	}

	.navigate.mobile .topnav li:last-child {
		width: 42%;
	}

	.navigate.mobile .topnav li:last-child a.booking-link {
	    padding-bottom: 6px;
	    padding-top: 21px;
	}

	.navigate.mobile .banner p.contacto, .navigate.mobile .banner p.contacto span {
	    font-size: 13px;
	}

	.navigate.mobile .mmenu-icon {
		font-size: 15px;
	}

	.navigate.mobile .languages {
	    font-size: 11px;
	}



	/* Calendar */

	.dropout {
		width: 320px;
	}

	.calspacer {
	    padding: 10px 20px;
	}

	.calspacer span {
	    margin: 10px;
	}

	.calspacer button {
	    font-size: 14px;
	    margin-top: 10px;
	}

	.calspacer span input#arv, .calspacer span input#arv-1,
	.calspacer span input#dep, .calspacer span input#dep-1 {
		font-size: 11px;
	}

	.calspacer span label {
	    display: block;
	    font-size: 12px;
	    margin-bottom: 5px;
	}

	.calspacer span select {
		padding-top: 23px 0 0;
	}

	.calspacer span input,
	.calspacer span select {
		font-size: 65px;
	}

	.datepicker, .datepickerr {
		left: 120%;
	}
		.calspacer span:hover .datepicker, .calspacer span:hover .datepickerr {
		    left: 120%;
		    top: 160px;
		}

	.departdatepicker, .departdatepickerr {
		left: 0;
	}
		.calspacer span:hover .departdatepicker, .calspacer span:hover .departdatepickerr {
		    left: 0;
		    top: 160px;
		}



	/* HOMEPAGE */

	.shorter {
		height: 350px;
	}

	.blogposts {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.blogposts li {
		width: 100%;
	}



	/* PAGE - General Settings */

	.page .page-content {
		padding: 20px 10px;
	}

	#maparea {
	    width: 100% !important;
	}


	.suboverlay {
	    left: 27%;
	    top: 20%;
	    width: 70%;
    }

    .gallery-categories {
	    background: none repeat scroll 0 0 #FFFFFF;
	    padding: 20px 0;
	}

	.gallery-categories > ul {
	    padding-bottom: 0;
	    text-align: center;
	}

	.gallery-categories li {
	    clear: both;
	    display: block;
	    float: none;
	    font-size: 13px;
	    font-weight: normal;
	    line-height: 2;
	    margin: 0;
	}



    /* PAGE - Explore */

    .page-content .listed-content {
	    float: none;
	    margin: 0 auto;
	    width: 80%;
	}

	.deal {
	    float: none;
	    min-height: 550px;
	    width: 100%;
	}

	.deal-photo {
	    height: 200px;
	}

	.blogposters li {
		width: 100%;
	}



	/* PAGE - Gallery */

	.gallery .flexslider {
	    height: 390px;
	}

	.gallery .flexslider .slides > li {
	    height: 360px;
	}

	.gallery .flex-direction-nav a:before {
	    font-size: 30px;
	}

	.gallery .flex-direction-nav a {
		height: 30px;
	}



	/* SINGLE - Room */

	.room-more-details {
		margin-top: 10px;
	}

	.room-detail > img {
	    max-height: 159px;
	    min-height: 159px;
	    width: 100%;
	}

	.room-details li.room-detail {
	    float: none;
	    margin-bottom: 20px;
	    margin-right: 0;
	    width: 100%;
	}

	.rooms-book-now.slide-booking .left {
		display: none;
	}

	.room-details-content .detail-features ul li {
		line-height: 3;
	}



	/* PAGE - Deals */

	.deal {
	    min-height: 480px;
	}

	.deal-wrapper {
		height: 200px;
	}


	/* PAGE - Concierge */

	.concierge-box-photo {
		height: 200px;
	}

	.concierge-box {
	    height: auto;
	    margin-bottom: 10px;
	    overflow: hidden;
	    width: 100%;
	}

	.concierge-box .left {
	    margin-left: 0;
	    width: 100%;
	}

	.concierge-box .right {
	    float: none;
	    margin: 0 auto;
	    padding: 5% 3.7% 3.7%;
	    position: relative;
	    width: 85%;
	}



	/* PAGE - Eat & drink */

	.page .fullvertical .textbox, .page .fullvertical .textbox-1 {
	    left: 27%;
	    top: 10%;
	    width: 80%;
	}





}



/* ================================================ MAX WIDTH 380 ======================================= */

@media only screen
and (max-width : 380px) {



	/* Header */

	.navigate.mobile .logobox {
	    padding-top: 0;
	}

	.logobox img {
	    margin-left: 0;
	    padding: 48px 0;
	}

	.navigate.mobile .topnav li a.booking-link {
	    font-size: 9px;
	}

	.navigate.mobile .banner p.contacto, .navigate.mobile .banner p.contacto span {
	    font-size: 11px;
	}

	.navigate.mobile .mmenu-icon {
		font-size: 12px;
		border-right: 0;
	}

	.navigate.mobile .languages {
	    display: block;
	    float: left;
	    font-size: 10px;
	    margin-left: 0;
	    margin-top: 13px;
	    overflow: hidden;
	    padding-left: 0;
	}

	.navigate.mobile .topnav li:last-child a.booking-link {
	    padding-bottom: 12px;
	    padding-top: 21px;
	}

	.topnav li a.booking-link {
		padding: 22px 0;
	}

	.navigate.mobile .languages {
	    font-size: 10px;
	    padding-left: 4px;
	}

	/* HOMEPAGE */

	.bigover h1, .bigover h2.h1 {
		font-size: 27px;
	}

	.overlay h1, .overlay h2.h1, .fourth-level .suboverlay h2.h1 {
		font-size: 20px;
	}

	.fourth-level .suboverlay h2.h1 {
	    line-height: 1.2;
	    margin-bottom: 10px;
	}

	.second-level .rightside .picone {
	    height: 340px;
	}

	.second-level .rightside .picone .overlay {
	    top: 20%;
	}



	/* PAGE - Gallery */

	.gallery .flex-direction-nav {
	    margin-top: -75% !important;
	}



	/* SINGLE - Explore */

	.page.time-square .textbox.openbox-up {
	    max-height: 100%;
	    min-height: 100%;
	}

	.time-square .textbox p, .time-square .textbox-1 p {
	    font-size: 11px;
	    line-height: 1.7;
	}



}



/* ================================================  MOBILES BELOW 399 ======================================= */


@media only screen
and (max-width : 399px)
{



}




/* ================================================  MOBILES BELOW 480 to 400 ======================================= */


@media only screen
and (min-width : 400px)
and (max-width : 479px)
{








}



/* ================================================  MOBILES BELOW 480 to 640 ======================================= */


@media only screen
and (min-width : 480px)
and (max-width : 639px)
{









}



/* ================================================  LARGE MOBILE DEVICES AND SMALL TABLETS BELOW 799  ======================================= */


@media only screen
and (min-width : 640px)
and (max-width : 799px)
{




}
/* ================================================  SLIGHTLY SMALLER RESOLUTIONS, BUT NOT QUITE IPHONE ======================================= */


@media only screen
and (min-width : 800px)
and (max-width : 854px)
{


}





/* ================================================  LARGE PHONE SCREENS SMALLER RESOLUTIONS  ======================================= */


@media only screen
and (min-width : 855px)
and (max-width : 960px)
{






}



/* ================================================  IPADS AT LANDSCAPE WIDTH 1024  ======================================= */


@media only screen
and (min-width : 961px)
and (max-width : 1024px)
{

.navigate .supernav li {
    padding: 7px 0 !important;
}


.navigate {
    background: #000 none repeat scroll 0 0;
    height: calc(100% - 135px);
    overflow-y: scroll;
    position: absolute;
    width: 251px !important;
    z-index: 999999;
}

.navigate:before
{
	width: 1%;
}


}

/* ================================================  WIDTH 1366  ======================================= */


@media only screen
and (max-width : 1366px)
{

.navigate .supernav li {
    padding: 7px 0 !important;
}


.navigate {
    background: #000 none repeat scroll 0 0;
    height: calc(100% - 135px);
    overflow-y: scroll;
    position: absolute;
   width: 251px !important;
    z-index: 99999;
}

.navigate:before {
    width: 250px;
}

}


/* ================================================  FIRST STAGE LARGER THAN 1024PX UP TO LARGER BROWSERS  ======================================= */



@media only screen
and (min-width : 1025px)
and (max-width : 1223px)
{







}



/* #Narrow Screen, Below 1400px (Portrait)
================================================== */

    /* Note: Design for a width of 768px */



@media only screen
and (min-width : 1224px)
and (max-width : 1300px)
{








}


@media only screen
and (min-width : 1224px)
and (max-width : 1399px)
{








}





@media only screen and (min-width: 1400px) and (max-width: 1450px) {








}


@media only screen and (min-width: 1451px) {









}
